@import "variables";
@import "mixin";

.Container {
  width: 100%;
  margin-top: 68px;
  display: flex;
  justify-content: center;

  @include mobile {
    margin-top: 50px;
  }

  @include iphone {
    margin-top: 32px;
    justify-content: flex-start;
  }
}

.Label {
  font-size: 32px;
  font-weight: 500;
  color: $select-button-color;
  letter-spacing: 1.12px;
  transition: text-shadow ease-in 200ms, color ease-in 200ms;
  text-align: center;
  padding: 0 18px;

  &:hover {
    text-shadow: 0 0 1px $select-button-focus-color, 0 0 1px $select-button-focus-color;
    color: $select-button-focus-color;
  }

  @include mobile {
    font-size: 24px;
    padding: 0 13px;
  }

  @include iphone {
    font-size: 16px;
    padding: 0 16px 0 0;
  }

  @include iphoneSE {
    font-size: 14px;
  }
}

.SelectedLabel {
  font-size: 32px;
  text-shadow: 0 0 1px $select-button-focus-color, 0 0 1px $select-button-focus-color;
  color: $select-button-focus-color;
  letter-spacing: 1.12px;
  padding: 0 18px;
  text-align: center;

  @include mobile {
    font-size: 24px;
    padding: 0 13px;
  }

  @include iphone {
    font-size: 16px;
    padding: 0 16px 0 0;
  }

  @include iphoneSE {
    font-size: 14px;
  }
}
