@import 'variables';
@import 'mixin';

.Container {
  background: linear-gradient(90.31deg, #6244ff 0.57%, #f13f5f 80.57%);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  .Message {
    font-size: 32px;
    font-weight: 700;
    margin-right: 24px;
    line-height: 1.5;
  }

  .ApplyLink {
    display: inline-block;
    color: $page-text-first-color;
    background: transparent;
    box-sizing: border-box;
    border: 2px solid $page-text-first-color;
    border-radius: 23px;
    padding: 6px 24px 8px 24px;
    letter-spacing: -0.05em;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;

    img {
      margin-left: 7px;
    }
  }

  @include tablet {
    height: 80px;

    .Message {
      font-size: 18px;
      margin-right: 12px;
    }

    .ApplyLink {
      padding: 5px 12px 5px 16px;
      font-size: 14px;
      font-weight: 400;

      img {
        width: 20px;
        height: 12px;
        margin-left: 7px;
      }
    }
  }

  @include mobile {
    height: 60px;

    .Message {
      font-size: 15px;
      font-weight: 400;
      margin-right: 20px;
      .Season {
        display: block;
      }
    }

    .ApplyLink {
      padding: 5px 11px 5px 12px;
      font-size: 13px;
      font-weight: 400;
      border: 1px solid $page-text-first-color;

      img {
        width: 18px;
        height: 12px;
        margin-left: 2px;
      }
    }
  }
}
