@import 'variables';
@import 'mixin';

.Container {
  background: linear-gradient(90.31deg, #6244ff 0.57%, #f13f5f 80.57%);
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;

  .Message {
    font-size: 32px;
    font-weight: 700;
    margin-right: 24px;
    line-height: 1.5;
  }

  .DDay {
    display: inline-block;
    color: $page-text-first-color;
    background: transparent;
    box-sizing: border-box;
    border: 2px solid $page-text-first-color;
    border-radius: 23px;
    padding: 6px 24px 8px 24px;
    letter-spacing: -0.05em;
    text-decoration: none;
    font-size: 24px;
    font-weight: 700;
    line-height: 30px;
  }

  @include tablet {
    height: 80px;

    .Message {
      font-size: 18px;
      margin-right: 16px;
    }

    .DDay {
      padding: 7px 16px 8px 16px;
      font-size: 14px;
      line-height: 18px;
    }
  }

  @include mobile {
    height: 60px;

    .Message {
      font-size: 14px;
      .Season {
        display: block;
      }
    }
  }
}
