@import '_variables.scss';
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";

html, body {
  background: $page-bg-first-color;
  color: $page-text-first-color;
  overflow-x: hidden;
  user-select: none;
}

::selection {
  background: $select-button-focus-color;
  color: $page-text-first-color;
}

* {
  box-sizing: border-box;
}

h1, h2, p, ul, ol, li {
  margin: 0;
  padding: 0;
  border: 0 none;
}

ul, ol, li {
  list-style: none;
}

