@import '_variables.scss';

body {
  background: $page-bg-first-color;
  color: $page-text-first-color;
}

* {
  box-sizing: border-box;
}

h1, h2, p, ul, ol, li {
  margin: 0;
  padding: 0;
  border: 0 none;
}

ul, ol, li {
  list-style: none;
}
