@keyframes shake {
  10%, 90% {
    transform: rotate(2deg);
  }

  20%, 80% {
    transform: rotate(-1deg);
  }

  30%, 50%, 70% {
    transform: rotate(1deg);
  }

  40%, 60% {
    transform: rotate(-3deg);
  }
}

@keyframes delayedShake {
  0% {
    transform: rotate(0deg);
  }

  50% {
    transform: rotate(0deg);
  }

  60% {
    transform: rotate(2deg);
  }

  70% {
    transform: rotate(-1deg);
  }

  80% {
    transform: rotate(1deg);
  }

  90% {
    transform: rotate(-3deg);
  }

  100% {
    transform: rotate(1.5deg);
  }
}
