$page-bg-first-color: #000000;
$page-bg-second-color: #171718;
$page-text-first-color: #ffffff;
$page-text-second-color: #ced4da;
$select-button-color: #495057;
$select-button-focus-color: #06e8d3;
$talk-start-side: #353535;
$talk-end-side: #0078ff;

$page-max-width: 1440px;

$pc: 1200px;
$tablet: 960px;
$mobile: 768px;
$iphone: 520px;
$iphoneSE: 320px;

$section-title-font-size: 48px;
$section-subTitle-font-size: 20px;
$section-title-mobile-font-size: 36px;
$section-subTitle-mobile-font-size: 18px;
$section-title-iphone-font-size: 24px;
$section-subTitle-iphone-font-size: 16px;

$default-font: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif;
$gilroy-font: Gilroy, sans-serif;
