$page-bg-first-color: #000000;
$page-bg-second-color: #171718;
$page-text-first-color: #ffffff;
$page-text-second-color: #ced4da;

$page-max-width: 1440px;

$mobile: 768px;
$iphone: 375px;

$default-font: 'Spoqa Han Sans', 'Spoqa Han Sans JP', sans-serif;
$gilroy-font: Gilroy, sans-serif;
