@import 'mixin';

.partnershipContainer {
  width: 1060px;
  margin: 80px auto 110px;

  @include pc {
    width: 100%;
    text-align: center;
  }

  @include mobile {
    margin: {
      top: 80px;
      bottom: 156px;
    }
  }
}

.partnerLink {
  position: relative;
  display: inline-block;
  margin-bottom: 20px;
  width: 520px;
  height: 160px;

  &:nth-child(odd) {
    margin-right: 20px;
  }

  @include pc {
    margin-right: 0;
  }

  @include tablet {
    width: 460px;
    height: 141.5px;
  }

  @include iphone {
    width: 280px;
    height: 86.1px;
  }
}
