@import "variables";
@import "mixin";
@import "keyframes";

.Container {
  width: 100%;
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 0 20%;

  @include tablet {
    padding: 0 5%;
  }

  @include mobile {
    margin-top: 70px;
  }

  @include iphone {
    margin-top: 42px;
    padding: 0;
  }
}

.TalkWrap {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 24px;

  @include mobile {
    margin-bottom: 16px;
  }

  @include iphone {
    margin-bottom: 8px;
  }
}

.Divide {
  margin-bottom: 36px;

  @include mobile {
    margin-bottom: 38px;
  }

  @include iphone {
    margin-bottom: 40px;
  }
}

.EndSide {
  justify-content: flex-end;
  margin-bottom: 24px;

  @include mobile {
    margin-bottom: 16px;
  }

  @include iphone {
    margin-bottom: 8px;
  }
}

.EndSideImg {
  margin-top: -32px;
  margin-bottom: 0;

  @include mobile {
    margin-top: -24px;
  }

  @include iphone {
    margin-top: -16px;
  }
}

.TalkComment {
  max-width: 550px;
  border-radius: 40px;
  background: $talk-start-side;
  word-break: normal;
  white-space: pre-line;
  font-size: 16px;
  color: $page-text-second-color;
  padding: 24px 32px;
  line-height: 1.5;

  @include mobile {
    max-width: 340px;
    font-size: 16px;
    padding: 18px 26px;
  }

  @include iphone {
    max-width: 272px;
    border-radius: 25px;
    font-size: 14px;
    padding: 12px 18px;
  }
}

.TalkEndSide {
  background: $talk-end-side;
}

.TalkCommentEmoji {
  background: transparent;
  border-radius: 0;
  font-size: 120px;
  padding: 0;

  @include mobile {
    font-size: 90px;
  }

  @include iphone {
    font-size: 65px;
  }
}

.TalkCommentImage {
  max-width: 550px;
  height: auto;
  padding: 24px 32px;
  border-radius: 40px;

  @include mobile {
    max-width: 340px;
  }

  @include iphone {
    max-width: 272px;
  }
}


.Profile {
  width: 75px;
  height: 75px;
  margin-right: 45px;
  visibility: visible;

  @include mobile {
    width: 60px;
    height: 60px;
    margin-right: 24px;
  }

  @include iphone {
    width: 44px;
    height: 44px;
    margin-right: 8px;
  }
}

.ProfileHide {
  visibility: hidden;
}

.TalkCommentLink {
  cursor: pointer;
  animation: delayedShake 2000ms cubic-bezier(.36, .07, .19, .97) infinite;
  transition: all ease-in 200ms;


  &:hover {
    animation: none;
    transform: scale(1.03);
  }
}
