@import "variables";
@import "mixin";

.Container {
  width: 100%;
  padding: 160px 16px 120px;


  @include mobile {
    padding: 100px 16px 80px;
  }

  @include iphone {
    padding: 56px 16px 44px;
  }
}

.ContainerWithoutPadding {
  width: 100%;
  padding: 160px 0 120px;


  @include mobile {
    padding: 100px 0 80px;
  }

  @include iphone {
    padding: 56px 0 44px;
  }
}

.HeaderSection {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.AddPadding {
  padding: 0 16px;
}

.Title {
  font-size: $section-title-font-size;
  color: $page-text-first-color;
  font-weight: bold;
  text-align: center;

  @include mobile {
    font-size: $section-title-mobile-font-size;
    line-height: 1.35;
  }

  @include iphone {
    font-size: $section-title-iphone-font-size;
    text-align: left;
    line-height: 1.5;
  }
}

.SubTitle {
  margin-top: 24px;
  font-size: $section-subTitle-font-size;
  color: $page-text-second-color;
  line-height: 1.7;
  font-weight: normal;
  text-align: center;

  @include mobile {
    margin-top: 20px;
    font-size: $section-subTitle-mobile-font-size;
    line-height: 1.725;
  }

  @include iphone {
    margin-top: 16px;
    font-size: $section-subTitle-iphone-font-size;
    text-align: left;
    line-height: 1.75;
  }
}
